.frontpage{
    padding: 0 0;
    display: grid;
    grid-template-columns:5fr 1fr;
    grid-template-areas: 'left,right';
    height: min-content;
    border-bottom:  rgba(0, 0, 0, 0.15) 3px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    height: 101vh;


}
.left-page{
    margin: 15% 7%;
    text-align: center;
    
}
.title{
    color: #0D2131;
    text-align: center;
    font-family: 'Roboto';
    font-size: 6vw;
font-style: normal;
font-weight: 600;
padding-left: 5%;
}
.image-home{
    width: 20vw;
    height: 40vw;
    margin-top: 40%;
}
.child{
    color: #000;
text-align: center;
font-family: 'Roboto';
font-size: 3vw;
font-style: normal;
width: max-content;
font-weight: 600;
margin-top: -7%;
margin-left: 15%;
}
.button-one{
    text-align: center;
    margin-top: 3%;
}

.selengkapnya{
    border: none;
    background-color: #0D2131;
    color: #FFF;
text-align: center;
font-family: 'Roboto';
font-size: 2vh;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 112.5% */
width: 14vh;
margin-left: 3%;
margin-top: 2%;
}
@media only screen and ( max-width:576px)
{  
    
    .left{
        display: none;
    }
    .Home{
        padding: 20vh 0 0 0;
    }
    .navbar{
        height: 12vh;
    }
    .mobile{
        display: block;
    }
    .hamburger{
        display: flex;
        float: right;
        margin: 10%;
        position: relative;
    }
    .logo{
        margin-top: -1%;
        margin-left: -7%;
        width:80px;
        height: 80px;
    }
    .frontpage{
       width: 100%;
       padding: 15% 0;
       height: 216px;
    }
    .title{
        width: max-content;
    }
    .button-one{
        text-align: center;
        margin-top: 3%;
        margin-left: 3%;
    }
    .image-home{
        margin-left: -10%;
        width: 25vw;
        height: 60vw;
    }

}