button {
   margin: 2% 0 0 1%;
   border: none;
   width: 15%;
background-color: #000; 
color: #FFF;
font-size: 2.3vh;
height: 30px;
}
.buttonProduct{
    text-align: center;
}

#productContainer{
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    gap: 30px;
    row-gap: 70px;
    align-items: center;
    justify-content: center;
}
.product {
    display: none;
    text-align: center;
}

.all {
    display: block;

}
.spritimage{
    width: 20vh;
    height: 34vh;
}
.buy{
    width: 50px;

}
.produkTitle{
    font-family: 'Roboto';
    color: #0D2131;
    font-weight: 600;
}
@media only screen and ( max-width:576px)
{  
    
    .left{
        display: none;
    }
    .Home{
        padding: 20vh 0 0 0;
    }
    .navbar{
        height: 12vh;
    }
    .mobile{
        display: block;
    }
    .hamburger{
        display: flex;
        float: right;
        margin: 10% 80%;
        position: fixed;
    }
    .bck{
        margin-top: -19.2%;
    }
    .logo{
        margin-top: -1%;
        margin-left: -7%;
        width:80px;
        height: 80px;
    }
    #slogan{
        font-size: 5vw;
    }
    .button{
        margin-top: -1%;
    }
    #product{
        width: 110px;
        height: 30px;
        font-size: 15px;
    }
    #selengkapnya{
        font-size: 17px;
    }
    .product-button{
        text-align: left;
        margin-left: -1%;
    }
    .card1{
        margin: 7%;
        width: max-content;
        height: 50vw;
    }
    .buttonProduct{
        display: none;
    }


}